.separate {
	display: none;
	margin-bottom: 1%;
}

.fc-center {
	margin-top: 5px;
}

.fc-day-grid, .fc-time-grid {
	cursor: pointer;
}

.datepick:hover {
	cursor: pointer;
}

textarea#comments {
	resize: none;
}

.error {
	border-color: #d9534f;
}